<div class='dashboard'>
  <div class="dashboard-nav">
    <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#" class="brand-logo"> <img
          src="../assets/picture/Logo_Limgane_img.png" alt="Logo" class="logo-image"><link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap" rel="stylesheet"><span><a></a>&nbsp;&nbsp;L I M G A N
          E</span></a></header>
    <nav class="dashboard-nav-list">
      <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&display=swap" rel="stylesheet"><a href="/dashboard" class="dashboard-nav-item active">
        <i class="fa fa-home"></i>
        D a s h b o a r d </a>
      <div class='dashboard-nav-dropdown'><a href="/employees" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-user"></i> E m p l o y e e s </a>
        <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a href="#"
            class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item">Images</a><a
            href="#" class="dashboard-nav-dropdown-item">Video</a></div>
      </div>
      <div class='dashboard-nav-dropdown'><a href="/login" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-users"></i> L o g i n </a>
        <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a href="#"
            class="dashboard-nav-dropdown-item">Subscribed</a><a href="#"
            class="dashboard-nav-dropdown-item">Non-subscribed</a><a href="#"
            class="dashboard-nav-dropdown-item">Banned</a><a href="#" class="dashboard-nav-dropdown-item">New</a></div>
      </div>
      <div class='dashboard-nav-dropdown'><a href="/payments" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
            class="fa fa-user"></i> P a y m e n t s </a>
        <div class='dashboard-nav-dropdown-menu'><a href="#" class="dashboard-nav-dropdown-item">All</a><a href="#"
            class="dashboard-nav-dropdown-item">Recent</a><a href="#" class="dashboard-nav-dropdown-item">
            Projections</a>
        </div>
      </div>
      <a href="/sales"
        class="dashboard-nav-item"><i class="fas fa-user"></i> S a l e s </a>
      <div class="nav-item-divider"></div>
      <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> L o g o u t </a>
    </nav>
  </div>
  <div class='dashboard-app'>
    <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
    <div class='dashboard-content'>
      <div class='container'>
        <div class='card'>
          <!-- CHILD  -->
          <router-outlet></router-outlet>
          <!-- END CHILD -->
        </div>
      </div>
    </div>
  </div>
</div>